{% extends 'basic.html' %}

{% block basic_title %} Srot :: Home{% endblock basic_title %}

{% block basic_head %}

    <link rel="stylesheet" href="/media/css/chatbot.css">

{% endblock basic_head %}

{% block basic_body %}
<main>
  <div class="chat-container">
    <div class="chat-header">
      <h2>FarmGen Smart Bot</h2>
    </div>
    <div id="chat-box" class="chat-box"></div>
    <div class="chat-input-container">
      <input type="text" id="user-input" placeholder="Type a message..." autocomplete="off">
      <button id="send-btn">Send</button>
    </div>
  </div>
<main>

{% endblock basic_body %}

{% block basic_scripts %}
<script src="/media/js/chatbot.js"></script>
{% endblock basic_scripts %}
