{% extends 'basic.html' %}

{% block basic_title %} FarmGen :: Home{% endblock basic_title %}

{% block basic_head %}

    <link rel="stylesheet" href="/media/css/home.css">
    <link rel="stylesheet" href="https://cdn.3up.dk/mdi@2.2.43/css/materialdesignicons.min.css">

{% endblock basic_head %}

{% block basic_body %}

    <main>
        <!-- Main Container -->
        <div class="container col-xxl-10 px-1 py-1" style="margin-top: 20px; margin-bottom: 80px;">

            <!-- Hero Section -->
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5" style="margin-top: -40px; margin-bottom: 40px; background-image: url('/media/images/home/shape-a.png');">
                <div class="col-sm-12 col-lg-6">
                    <img src="/media/images/home/hero.png" class="d-block mx-lg-auto img-fluid" width="900" height="700"
                        loading="lazy">
                </div>
                <div class="col-lg-6" id="hero_text_div">
                    <h1 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">FarmGen - AI <br> Farming
                        Partner</h1>
                    <p class="lead">FarmGen is an advanced AI platform designed to support farmers with intelligent, real-time assistance. It offers expert guidance on best practices, location-based crop recommendations, and instant disease diagnosis through image analysis. Using state-of-the-art generative AI, FarmGen simplifies decision-making with tailored insights, multilingual support, and audio responses. Whether it’s crop planning or disease management, FarmGen empowers farmers to cultivate healthier crops and enhance productivity.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/detectdisease/"><button style="background-color: #47E0B0;border-color:white" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Detect Disease</button></a>
                        <a href="/chatbot/"><button type="button" style="color: #47E0B0;border-color:#47E0B0;" class="btn btn-outline-primary btn-lg px-4 me-md-2">Get Help</button></a>
                    </div>
                </div>
            </div>
            <!-- Hero Section End -->

            <!-- About FarmGen -->

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-sm-8 col-lg-6">
                    <img src="/media/images/home/ArchitectureDiagram.png" alt="">
                </div>
                <div class="col-lg-6" id="about_covid_div">
                    <h3 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">
                        Architecture Overview</h3>

                    <p class="lead" style="color: #393e46;">The architecture utilizes text and image embeddings for efficient data retrieval. For best practices and disease diagnosis, MongoDB’s vector search enables rapid matching of user queries with stored data in the Farmer Handbook and Disease Cure collections. AWS Sagemaker provides a robust model endpoint for generating crop recommendations, ensuring that results are both timely and contextually accurate. Additionally, Bedrock Claude 3 Sonnet serves as the primary language model for generating detailed, context-aware responses, while AWS Polly converts text responses into audio for farmers who prefer auditory instructions, especially in their native language.</p>

                    <p class="lead" style="color: #393e46;">Each module in the architecture is specialized to handle a specific part of the process. The <b>embeddings allow for quick matching and search functionality</b>, the <b>Sagemaker endpoint</b> provides <b>tailored recommendations</b>, and the <b>LangChain Agent efficiently routes queries based on intent</b>. This modularity not only optimizes the user experience but also allows FarmGen to be easily scalable and adaptable to various agricultural challenges.</p>

                </div>
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6" id="about_covid_div">
                    <h3 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">
                        Disease Detection and Cure Recommendation</h3>

                    <p class="lead" style="color: #393e46;">In the Disease Detection flow, the system helps farmers identify and treat crop diseases by analyzing images. Farmers can upload an image of a diseased plant, which is then processed by Titan Multimodal Embeddings to generate an image embedding. The MongoDB Image Vector Index performs a vector search to find similar images in the Disease Cure Collection, which contains indexed information on common crop diseases.                    </p>

                    <p class="lead" style="color: #393e46;">If the top three matches are of the same disease, the system proceeds with that result. If not, the user is given a choice of the top three matches to ensure accuracy. Once the disease is identified, text embeddings are retrieved to provide context on treatments and cures, with Bedrock Claude 3 Sonnet generating a descriptive response. The final output can be provided as text or converted to audio via AWS Polly, making it accessible to farmers who may prefer to listen in their native language. This flow empowers farmers to quickly diagnose and respond to crop health issues, potentially saving crops from further damage and improving overall productivity.</p>

                </div>
                <div class="col-sm-8 col-lg-6">
                    <img style="background: black;" src="/media/images/home/DiseaseDetectFlow.png" alt="">
                </div>
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-sm-8 col-lg-6">
                    <img style="background: black;" src="/media/images/home/ChatBotCropRecommendFlow.png" alt="">
                </div>
                <div class="col-lg-6" id="about_covid_div">
                    <h3 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">
                        ChatBot Crop Recommendation</h3>

                    <p class="lead" style="color: #393e46;">The Crop Recommendation flow is designed to help farmers decide on the best crop for their location based on climate data. When a farmer requests a crop recommendation, the LangChain Agent first interacts with a toolset that retrieves location-specific climate data. This starts with getting the farmer’s location coordinates, followed by accessing climate conditions for that area, such as average temperature, rainfall, and soil conditions.</p>

                    <p class="lead" style="color: #393e46;">The climate data is then sent to the AWS Sagemaker Model Endpoint, which is trained to suggest crops that are well-suited to those specific environmental factors. This recommendation is sent back to the LangChain Agent, which then forwards it to the farmer. Additionally, Bedrock Claude 3 Sonnet can provide supplementary information, explaining why certain crops are ideal based on the location's climate. The combination of real-time location-based data with machine learning predictions makes this flow particularly valuable for farmers seeking to maximize yield by planting crops optimized for their environmental conditions. </p>

                </div>
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-sm-8 col-lg-6">
                    <img style="background: black;" src="/media/images/home/BestPracticesFlow.png" alt="">
                </div>
                <div class="col-lg-6" id="about_covid_div">
                    <h3 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">
                        Best Practices Guidance</h3>

                    <p class="lead" style="color: #393e46;">In the Best Practices flow, the system is designed to provide farmers with specific cultivation advice based on their crop selection. When a farmer asks for best practices on a particular crop, the LangChain Agent processes the query and sends it to the Farm Best Practices Tool. This tool retrieves relevant information from the Farmer Handbook Collection.</p>

                    <p class="lead" style="color: #393e46;">The tool uses text embeddings generated from the query to perform a vector search in MongoDB, finding the best-matching entries in the knowledge base. Once the relevant context is retrieved, it’s fed into Bedrock Claude 3 Sonnet to craft a response, which is then sent back to the LangChain Agent. The response can be displayed as text, ensuring that the farmer receives clear, concise, and practical steps for growing the selected crop. This flow is particularly useful for farmers looking to optimize their crop growth practices with evidence-based methods tailored to specific crops and local conditions.</p>

                </div>
            </div>

        <!-- Main container closed -->
        </div>

    </main>
{% endblock basic_body %}

